*{
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}
body {
    background-color: #E2EDDD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 40px;
    padding: 16px;
    font-size: 12px;
    color: #2E3B51;
}
header > h1,
header > div {
    padding: .5rem;
}
#mobile {
    display: none;
    line-height: 24px;
}
#frame {
    width: 500px;
    height: 200px;
    border: 2px solid #2E3B51;
}
#gameover {
    color: #2E3B51;
}
.gamestart-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gameover-frame {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#character {
    width: 40px;
    height: 50px;
    position: relative;
    top: 150px;
    left: 120px;
}
.animation {
    animation: jump 500ms infinite ease;
}

#flame {
    width: 20px;
    height: 20px;
    position: relative;
    top: 130px;
    left: 480px;
}
#flame2 {
    width: 20px;
    height: 20px;
    position: relative;
    top: 110px;
    left: 480px;
}

.start{
    animation: frameofref 2.4s infinite alternate ease;
}
.start2{
    animation: frameofref2 3.9s infinite alternate ease;
}

#gamebutton {
    border: transparent;
    background-color: #92CF93;
    padding: 23px 45px;
    border-radius: 4px;
    color: #2E3B51;
    font-size: 13px;
    transition: 0.5s;
}
#gamebutton:hover {
    cursor: pointer;
    background-color: #2E3B51;
    color: #92CF93;
    box-shadow: 2px ;

}
@keyframes frameofref {
    0%{left: 480px;}
    100%{left: 0px;}
}
@keyframes frameofref2 {
    0%{left: 480px;}
    100%{left: 0px;}
}

@keyframes jump {
    0%{top: 130px;}
    30%{top: 90px;}
    70%{top: 90px;}
    100%{top: 130px;}
}

@media (max-width: 600px) {
    header {
        display: none;
    }
    #frame {
        display: none;
    }
    #mobile {
        display: block;
        text-align: center;
    }
}
