*{
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 40px;
    padding: 16px;
}
#frame {
    width: 500px;
    height: 200px;
    border: 2px solid black;
}

#character {
    width: 40px;
    height: 50px;
    position: relative;
    top: 150px;
    left: 120px;
}
.animation {
    animation: jump 500ms infinite ease;
}

#flame {
    width: 20px;
    height: 20px;
    position: relative;
    top: 130px;
    left: 480px;
}
#flame2 {
    width: 20px;
    height: 20px;
    position: relative;
    top: 110px;
    left: 480px;
}

.start{
    animation: frameofref 2s infinite alternate ease;
}
.start2{
    animation: frameofref2 3.5s infinite alternate ease;
}

@keyframes frameofref {
    0%{left: 480px;}
    100%{left: 0px;}
}
@keyframes frameofref2 {
    0%{left: 480px;}
    100%{left: 0px;}
}

@keyframes jump {
    0%{top: 130px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 130px;}
}